Repository yourssu/Soomsil-Web, pull requests merged in 2024-04, with the labels that each got.

#93 feat: 로그인 로직 개발
  package.json
  pnpm-lock.yaml
  src/home/apis/customedAxios.ts
  src/home/apis/postAuthSignIn.ts
  src/home/components/HomeLayout/HomeLayout.tsx
  src/home/components/login/Login.style.ts
  src/home/components/login/Login.tsx
  src/home/pages/Login/Login.style.ts
  src/home/pages/Login/Login.tsx
  src/home/types/Auth.type.ts
  src/router.tsx
  src/service/TokenService.ts
Labels: feat, home

#122 feat: 서랍장 카테고리 유형 드롭다운 구현
  package.json
  pnpm-lock.yaml
  src/drawer/components/Category/Category.style.ts
  src/drawer/components/Category/Category.tsx
  src/drawer/components/Category/Category.type.ts
  src/drawer/components/Category/CategoryDropdownMenu/CategoryDropdownMenu.style.ts
  src/drawer/components/Category/CategoryDropdownMenu/CategoryDropdownMenu.tsx
  src/drawer/components/Category/RankingCategory.tsx
  src/drawer/components/Category/RegisterCategory.tsx
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.tsx
  src/drawer/constants/category.constant.ts
  src/drawer/constants/mobileview.constant.ts
  src/drawer/hooks/useGetMain.ts
  src/drawer/hooks/useGetNewRelease.ts
  src/drawer/hooks/useGetStarRank.ts
  src/drawer/pages/NewRelease/NewRelease.tsx
  src/drawer/pages/Ranking/Ranking.style.ts
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/StarRanking/StarRanking.tsx
Labels: feat, drawer

#128 chore: add husky, lint-staged, pre-commit
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: feat, chore

#123 feat: 개발자의 서비스 더보기 페이지
  src/components/Card/Card.tsx
  src/drawer/apis/getProductByProvider.ts
  src/drawer/components/CardLayout/CardLayout.tsx
  src/drawer/components/EmptyScreen/EmptyScreen.tsx
  src/drawer/constants/empty.constant.ts
  src/drawer/hooks/useGetProductByProvider.ts
  src/drawer/pages/Provider/Provider.style.ts
  src/drawer/pages/Provider/Provider.tsx
  src/drawer/types/product.type.ts
  src/router.tsx
Labels: feat, drawer

#129 feat: 홈페이지 API 연결
  src/apis/index.ts
  src/drawer/apis/drawerClient.ts
  src/drawer/apis/getNewRelease.ts
  src/drawer/apis/getProductByProvider.ts
  src/drawer/apis/getProductDetail.ts
  src/drawer/apis/getRanking.ts
  src/drawer/apis/registerProduct.ts
  src/drawer/apis/uploadImages.ts
  src/home/apis/customedAxios.ts
  src/home/apis/getAnnouncement.ts
  src/home/apis/postAuthSignIn.ts
  src/home/components/DrawerRanking/DrawerRanking.tsx
  src/home/components/Notification/Notification.tsx
  src/home/components/SearchKeyword/SearchKeyword.tsx
  src/home/hooks/useGetAnnouncement.ts
  src/home/hooks/useGetDrawerRanking.ts
  src/home/types/announcement.type.ts
  src/search/apis/getRealTimeKeyword.ts
  src/search/apis/getSearch.ts
  src/search/apis/searchClient.ts
Labels: feat, home

#124 feat: 내서랍장 페이지 API 연결
  src/components/Card/Card.style.ts
  src/drawer/apis/getBookMarked.ts
  src/drawer/apis/getMyProduct.ts
  src/drawer/apis/getNewRelease.ts
  src/drawer/apis/getRanking.ts
  src/drawer/components/CardLayout/CardLayout.tsx
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.tsx
  src/drawer/hooks/useGetBookMarked.ts
  src/drawer/hooks/useGetMain.ts
  src/drawer/hooks/useGetMyRegistered.ts
  src/drawer/hooks/useGetNewRelease.ts
  src/drawer/hooks/useGetStarRank.ts
  src/drawer/pages/MyDrawer/MyDrawer.tsx
  src/drawer/pages/NewRelease/NewRelease.tsx
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/StarRanking/StarRanking.tsx
  src/drawer/types/ProductList.type.ts
  src/drawer/types/RankingRequestParams.type.ts
Labels: feat, drawer

#138 feat: 회원가입 페이지 퍼블리싱
  src/home/components/SignupContents/AgreeTerms/AgreeTerms.style.ts
  src/home/components/SignupContents/AgreeTerms/AgreeTerms.tsx
  src/home/components/SignupContents/AgreeTerms/AgreeTerms.type.ts
  src/home/components/SignupContents/AgreeTerms/TermContent/CommunityTerm.tsx
  src/home/components/SignupContents/AgreeTerms/TermContent/InfoCollectionAndUseTerm.tsx
  src/home/components/SignupContents/AgreeTerms/TermContent/PrivacyPolicyTerm.tsx
  src/home/components/SignupContents/AgreeTerms/TermContent/ServiceTerm.tsx
  src/home/components/SignupContents/AgreeTerms/TermContent/TermContent.style.ts
  src/home/components/SignupContents/EmailAuth/EmailAuth.style.ts
  src/home/components/SignupContents/EmailAuth/EmailAuth.tsx
  src/home/components/SignupContents/EmailForm/EmailForm.style.ts
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/components/SignupContents/SignupContents.style.ts
  src/home/components/SignupContents/SignupEnd/SignupEnd.style.ts
  src/home/components/SignupContents/SignupEnd/SignupEnd.tsx
  src/home/components/SignupContents/SignupForm/SignupForm.tsx
  src/home/components/SignupContents/SignupForm/SignupInput/SignupInput.style.ts
  src/home/components/SignupContents/SignupForm/SignupInput/SignupInput.tsx
  src/home/components/SignupFrame/SignupFrame.style.ts
  src/home/components/SignupFrame/SignupFrame.tsx
  src/home/pages/Signup/Signup.tsx
  src/hooks/useFunnel.tsx
  src/hooks/useSecondTimer.ts
  src/hooks/useSignupFormValidator.ts
  src/router.tsx
Labels: feat, home

#145 fix: drawerClient -> soomsilClient 로 변경
  src/drawer/apis/getBookMarked.ts
  src/drawer/apis/getMyProduct.ts
Labels: bug, fix

#142 chore: lint-staged {ts, tsx}만 검사하도록 변경
  package.json
Labels: bug, fix

#147 fix: error type and naming
  src/apis/index.ts
  src/home/apis/postAuthSignIn.ts
  src/home/components/DrawerRanking/DrawerRanking.tsx
  src/home/pages/Login/Login.tsx
  src/home/types/Auth.type.ts
  src/types/Common.type.ts
Labels: bug, fix

#125 feat: 서랍장 상세 페이지 북마크 API 연결
  src/drawer/apis/deleteBookmarked.ts
  src/drawer/apis/postBookmarked.ts
  src/drawer/hooks/useGetMain.ts
  src/drawer/hooks/useGetNewRelease.ts
  src/drawer/hooks/useGetProductDetail.ts
  src/drawer/hooks/useGetStarRank.ts
  src/drawer/pages/NewRelease/NewRelease.tsx
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
  src/drawer/pages/StarRanking/StarRanking.tsx
  src/drawer/types/product.type.ts
Labels: feat, drawer

#152 feat: ErrorBoundary를 사용한 에러 처리
  package.json
  pnpm-lock.yaml
  src/assets/error_ppussung.webp
  src/components/Bar/Bar.style.ts
  src/components/Bar/Bar.tsx
  src/components/Fallback/Fallback.style.ts
  src/components/Fallback/Fallback.tsx
  src/components/Fallback/Fallback.type.ts
  src/components/ProgressBar/ProgressBar.tsx
  src/constants/fallback.constant.ts
  src/drawer/components/Layout/Layout.tsx
  src/drawer/hooks/useGetBookMarked.ts
  src/drawer/hooks/useGetMyRegistered.ts
  src/drawer/hooks/useGetProductByProvider.ts
  src/drawer/hooks/useGetProductDetail.ts
  src/drawer/pages/MyDrawer/MyDrawer.tsx
  src/drawer/pages/Provider/Provider.tsx
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
  src/home/pages/Login/Login.tsx
  src/router.tsx
  src/search/components/ErrorBoundary/ErrorBoundary.tsx
  src/search/components/FallbackComponent/FallbackComponent.tsx
  src/search/pages/Search/Search.tsx
Labels: feat
