Repository yourssu/Soomsil-Web, pull requests merged in 2024-07, with the labels that each got.

#252 refactor: 서랍장 상세 페이지 배경 이미지를 삭제하고 배경 색상 추가
  src/drawer/pages/ServiceDetail/ServiceDetail.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
Labels: drawer, refactor

#237 feat: 서랍장 배너 API 연결
  src/drawer/apis/getDrawerBanner.ts
  src/drawer/hooks/useGetDrawerBanner.ts
  src/drawer/hooks/useGetNewRelease.ts
  src/drawer/hooks/useGetStarRank.ts
  src/drawer/pages/Ranking/BannerSection.tsx
  src/drawer/pages/Ranking/NewReleaseSection.tsx
  src/drawer/pages/Ranking/Ranking.style.ts
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/Ranking/RankingSection.tsx
  src/drawer/types/banner.type.ts
Labels: feat, drawer

#216 feat: 서랍장 서비스 등록 페이지 네이티브 웹뷰 연결
  src/apis/index.ts
  src/drawer/components/Layout/Layout.tsx
  src/drawer/pages/Register/Register.tsx
  src/router.tsx
Labels: feat, drawer

#255 fix: 서랍장 서비스 등록 페이지의 `textarea` 요소의 배경색을 흰색으로 수정
  src/drawer/components/Header/Header.style.ts
  src/drawer/components/TextArea/TextArea.style.ts
Labels: fix, drawer
