Repository yourssu/Soomsil-Web, pull requests merged in 2024-03, with the labels that each got.

#78 feat: 서랍장 등록 페이지 썸네일 이미지 및 소개 이미지 첨부 작업
  src/drawer/components/OverviewImage/OverviewFileUpload/OverviewFileUpload.style.ts
  src/drawer/components/OverviewImage/OverviewFileUpload/OverviewFileUpload.tsx
  src/drawer/components/OverviewImage/OverviewImage.style.ts
  src/drawer/components/OverviewImage/OverviewImage.tsx
  src/drawer/components/ThumbnailInput/ThumbnailInput.style.ts
  src/drawer/components/ThumbnailInput/ThumbnailInput.tsx
  src/drawer/pages/Register/Register.tsx
Labels: feat, drawer

#79 feat: 마이페이지 퍼블리싱 구현
  src/assets/home/background.png
  src/assets/home/defaultProfile.png
  src/home/components/MyMenuList/MyMenuList.style.ts
  src/home/components/MyMenuList/MyMenuList.tsx
  src/home/components/UserInformationCard/ProfileSVG.tsx
  src/home/components/UserInformationCard/UserInformationCard.style.ts
  src/home/components/UserInformationCard/UserInformationCard.tsx
  src/home/pages/Mypage/MyPage.style.ts
  src/home/pages/Mypage/Mypage.tsx
  src/router.tsx
Labels: feat, home

#80 feat: 서랍장 서비스 삭제 모달 구현
  package.json
  src/components/Card/Card.style.ts
  src/components/Card/Card.tsx
  src/components/Dropdown/Dropdown.tsx
  src/drawer/components/Dialog/ServiceRemoveModal.style.ts
  src/drawer/components/Dialog/ServiceRemoveModal.tsx
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.style.ts
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.tsx
  src/drawer/components/Header/Header.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
  yarn.lock
Labels: feat, drawer

#88 refactor: 내 서랍장 페이지 초기 currentTab 설정 방식 수정
  src/drawer/pages/MyDrawer/MyDrawer.tsx
Labels: drawer, refactor

#91 feat: 서랍장 프로덕트 등록 페이지에 react-hook-form 연결
  src/drawer/components/Category/Category.tsx
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.tsx
  src/drawer/components/Input/Input.tsx
  src/drawer/components/OverviewImage/OverviewImage.tsx
  src/drawer/components/TextArea/TextArea.tsx
  src/drawer/components/ThumbnailInput/ThumbnailInput.tsx
  src/drawer/components/WarningBox/WarningBox.style.ts
  src/drawer/components/WarningBox/WarningBox.tsx
  src/drawer/pages/Register/Register.style.ts
  src/drawer/pages/Register/Register.tsx
Labels: feat, drawer

#86 feat: 서치 페이지 반응형 / 에러 핸들링 및 로딩 처리 구현
  index.html
  package.json
  src/search/apis/getSearch.ts
  src/search/apis/searchClient.ts
  src/search/assets/imgError.svg
  src/search/assets/loading.json
  src/search/components/ErrorBoundary/ErrorBoundary.tsx
  src/search/components/FallbackComponent/FallbackComponent.tsx
  src/search/components/ResultListItem/ResultListItem.style.ts
  src/search/components/ResultListItem/ResultListItem.tsx
  src/search/components/ResultListItem/ResultListItemLoading.tsx
  src/search/components/ResultListItem/ResultListItems.tsx
  src/search/components/SearchBar/SearchBar.style.ts
  src/search/components/SearchBar/SearchBar.tsx
  src/search/components/SearchBar/SearchBoxSvg.tsx
  src/search/components/TotalCount/TotalCount.tsx
  src/search/hooks/useGetSearch.ts
  src/search/pages/Search/Search.style.ts
  src/search/pages/Search/Search.tsx
  src/search/types/ResultListItem.type.ts
  src/search/utils/onErrorImg.ts
  yarn.lock
Labels: feat, search

#96 fix: 랭킹 페이지 카테고리 유형 관련 에러 해결
  src/drawer/components/Category/Category.tsx
Labels: bug, fix

#106 chore: install @yourssu/logging-system-react
  package.json
  yarn.lock
Labels: chore

#108 feat: 서랍장 서비스 등록 API 연결
  src/assets/loading.json
  src/components/Loading/Loading.style.ts
  src/components/Loading/Loading.tsx
  src/drawer/apis/drawerClient.ts
  src/drawer/apis/registerProduct.ts
  src/drawer/apis/uploadImages.ts
  src/drawer/hooks/usePostRegisterProduct.ts
  src/drawer/pages/Register/Register.tsx
  src/drawer/types/form.type.ts
  src/drawer/types/image.type.ts
Labels: feat, drawer

#92 feat: 로그아웃 모달 구현
  src/home/components/Dialog/LogoutModal.style.ts
  src/home/components/Dialog/LogoutModal.tsx
  src/home/components/DrawerRanking/DrawerRanking.style.ts
  src/home/components/MyMenuList/MyMenuList.style.ts
  src/home/components/MyMenuList/MyMenuList.tsx
  src/home/components/Nav/Nav.style.ts
  src/home/components/Notification/Notification.style.ts
  src/home/components/SearchKeyword/SearchKeyword.style.ts
  src/home/components/SearchKeyword/SearchKeyword.tsx
  src/home/components/UserInformationCard/UserInformationCard.style.ts
  src/home/pages/Home.tsx
  src/home/pages/Home/Home.style.ts
  src/home/pages/Home/Home.tsx
  src/router.tsx
Labels: feat, home

#101 feat: 이미지 첨부 시, 이미지 파일만 첨부될 수 있도록 조건 추가
  src/drawer/components/OverviewImage/OverviewImage.tsx
  src/drawer/components/ThumbnailInput/ThumbnailInput.tsx
  src/drawer/pages/Ranking/Ranking.tsx
Labels: drawer

#110 feat: 서랍장 메인(랭킹) 페이지 API 연결
  package.json
  src/components/Card/Card.style.ts
  src/components/Card/Card.tsx
  src/drawer/apis/getNewRelease.ts
  src/drawer/apis/getRanking.ts
  src/drawer/components/Category/Category.tsx
  src/drawer/hooks/useGetMain.ts
  src/drawer/hooks/useGetNewRelease.ts
  src/drawer/hooks/useGetStarRank.ts
  src/drawer/pages/NewRelease/NewRelease.tsx
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/StarRanking/StarRanking.tsx
  src/drawer/recoil/CategoryState.ts
  src/drawer/recoil/persistAtom.ts
  src/drawer/types/GetRanking.type.ts
  src/drawer/types/ProductList.type.ts
  src/router.tsx
  yarn.lock
Labels: feat, drawer

#112 chore: yarn to pnpm, remove storybook
  .eslintrc.cjs
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  yarn.lock
Labels: chore

#116 chore: update pnpm-lock file
  pnpm-lock.yaml
Labels: chore
