Repository yourssu/Soomsil-Web, pull requests merged in 2024-06, with the labels that each got.

#213 chore: install YLS v1.1.0, utils v0.2.1
  package.json
  pnpm-lock.yaml
  src/main.tsx
Labels: chore

#205 feat: Home 공지사항 API 연결
  src/home/components/Notification/Notification.tsx
  src/home/hooks/useGetAnnouncement.ts
  src/home/types/announcement.type.ts
Labels: feat, home

#217 fix: 비밀번호 정규식 및 코멘트 변경
  src/home/components/ChangePasswordContents/NewPasswordForm/NewPasswordForm.tsx
  src/home/components/SignupContents/SignupForm/SignupForm.tsx
  src/hooks/useSignupFormValidator.ts
Labels: fix, home

#200 feat: 서랍장 로그인 모달 제작
  src/App.tsx
  src/assets/defaultProfile.png
  src/components/Dialog/CustomDialog.style.ts
  src/components/Dialog/CustomDialog.tsx
  src/components/Dialog/LoginDialog/LoginDialog.style.ts
  src/components/Dialog/LoginDialog/LoginDialog.tsx
  src/components/ProfileSvg/ProfileSVG.tsx
  src/constants/dialog.constant.tsx
  src/drawer/components/Header/Header.tsx
  src/drawer/components/ServiceDetailContents/ServiceAction/ServiceAction.tsx
  src/home/components/UserInformationCard/UserInformationCard.tsx
  src/recoil/DialogState.ts
  src/types/dialog.type.ts
Labels: feat, drawer

#202 feat: 서랍장 헤더 프로필 아이콘에 드롭다운 메뉴 연결
  src/assets/home/profile.svg
  src/components/Card/Card.style.ts
  src/components/Card/Card.tsx
  src/components/Dropdown/Dropdown.style.ts
  src/components/Dropdown/Dropdown.tsx
  src/components/ProfileDropdownMenu/ProfileDropdownMenu.style.ts
  src/components/ProfileDropdownMenu/ProfileDropdownMenu.tsx
  src/components/ProfileIconButton/ProfileIconButton.style.ts
  src/components/ProfileIconButton/ProfileIconButton.tsx
  src/drawer/components/DrawerCard/CardSettingDropdownMenu/CardSettingDropdownMenu.style.ts
  src/drawer/components/DrawerCard/CardSettingDropdownMenu/CardSettingDropdownMenu.tsx
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.tsx
  src/drawer/components/Header/Header.style.ts
  src/drawer/components/Header/Header.tsx
  src/home/apis/postAuthSignIn.ts
  src/home/components/Nav/Nav.style.ts
  src/home/components/Nav/Nav.tsx
  src/home/hooks/useGetUserData.ts
  src/home/hooks/usePostLogin.ts
  src/home/pages/Home/Home.tsx
  src/home/pages/Login/Login.tsx
  src/home/recoil/UserState.ts
Labels: feat, drawer

#208 fix: 회원탈퇴 후 유저정보가 남아있는 버그 수정
  src/home/apis/postWithdraw.ts
  src/home/pages/Withdraw/Withdraw.tsx
  src/hooks/usePostWithdraw.ts
  src/hooks/useResetUserInfo.ts
Labels: bug, fix, home

#219 fix: 회원 가입 중복 호출 방지
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/components/SignupContents/EmailForm/useEmailForm.ts
  src/home/components/SignupContents/SignupForm/SignupForm.tsx
  src/hooks/usePreventDuplicateClick.ts
Labels: fix, home

#211 feat: 서랍장 서비스 삭제 API 연결
  src/drawer/apis/deleteProduct.ts
  src/drawer/components/CardLayout/CardLayout.tsx
  src/drawer/components/Dialog/ServiceRemoveModal.tsx
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.tsx
  src/drawer/components/ServiceDetailContents/ServiceAction/ServiceAction.tsx
Labels: feat, drawer

#227 fix: 회원가입 약관 중 커뮤니티 이용규칙 수정
  src/home/components/SignupContents/AgreeTerms/AgreeTerms.tsx
  src/home/components/SignupContents/AgreeTerms/TermContent/CommunityTerm.tsx
Labels: bug, fix, home

#223 refactor: 로그인/회원가입 폼에 react-hook-form 적용
  src/home/components/SignupContents/AgreeTerms/AgreeTerms.tsx
  src/home/components/SignupContents/EmailAuth/EmailAuth.tsx
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/components/SignupContents/EmailForm/useEmailForm.ts
  src/home/components/SignupContents/SignupContents.style.ts
  src/home/components/SignupContents/SignupEnd/SignupEnd.tsx
  src/home/components/SignupContents/SignupForm/SignUpForm.type.ts
  src/home/components/SignupContents/SignupForm/SignupForm.tsx
  src/home/components/SignupContents/SignupForm/useSignUpForm.ts
  src/home/components/SignupContents/SignupForm/useSignupFormConfirm.tsx
  src/home/pages/Login/Login.style.ts
  src/home/pages/Login/Login.tsx
  src/hooks/useFullEmail.ts
  src/hooks/useParseFullEmail.ts
  src/hooks/useSignupFormValidation.ts
Labels: home, refactor

#212 feat: 서랍장 검색 페이지 작업
  src/drawer/apis/getSearchData.ts
  src/drawer/components/Header/Header.tsx
  src/drawer/hooks/useGetSearchData.ts
  src/drawer/pages/DrawerSearch/DrawerSearch.style.ts
  src/drawer/pages/DrawerSearch/DrawerSearch.tsx
  src/drawer/types/ProductRequestParams.type.ts
  src/router.tsx
Labels: feat, drawer

#230 refactor: api.logout() -> useResetUserInfo()
  src/components/ProfileDropdownMenu/ProfileDropdownMenu.tsx
  src/home/components/Dialog/LogoutModal.tsx
  src/home/components/Nav/Nav.tsx
Labels: refactor

#210 fix: soomsilClient.response.interceptor 무한 루프 문제
  src/apis/index.ts
  src/home/apis/postRefreshToken.ts
Labels: bug, fix, home

#220 feat: home-yls
  src/home/components/QuickLink/QuickLink.tsx
  src/home/components/SocialNetworkService/SocialNetworkService.tsx
Labels: feat, home

#233 feat: 비밀번호 재설정 페이지 퍼블리싱 및 API 연결
  src/drawer/components/Header/Header.tsx
  src/home/components/ResetPasswordContents/EmailInput/EmailInput.style.ts
  src/home/components/ResetPasswordContents/EmailInput/EmailInput.tsx
  src/home/components/ResetPasswordContents/EmailInput/useEmailInputForm.ts
  src/home/components/ResetPasswordContents/EmailVerification/EmailVerification.style.ts
  src/home/components/ResetPasswordContents/EmailVerification/EmailVerification.tsx
  src/home/components/ResetPasswordContents/EmailVerification/useEmailVerification.ts
  src/home/components/ResetPasswordContents/ResetPasswordFrame/ResetPasswordFrame.style.ts
  src/home/components/ResetPasswordContents/ResetPasswordFrame/ResetPasswordFrame.tsx
  src/home/components/ResetPasswordContents/ResetPasswordInput/ResetPasswordInput.style.ts
  src/home/components/ResetPasswordContents/ResetPasswordInput/ResetPasswordInput.tsx
  src/home/components/ResetPasswordContents/ResetPasswordInput/useResetPasswordInput.ts
  src/home/components/ResetPasswordContents/ResetPasswordSuccess/ResetPasswordSuccess.style.ts
  src/home/components/ResetPasswordContents/ResetPasswordSuccess/ResetPasswordSuccess.tsx
  src/home/pages/ChangePassword/ChangePassword.tsx
  src/home/pages/Login/Login.style.ts
  src/home/pages/Login/Login.tsx
  src/home/pages/ResetPassword/ResetPassword.tsx
  src/router.tsx
Labels: feat, home

#232 feat: `UserInformationCard`에 현재 로그인 중인 사용자 정보 넣기
  src/home/components/UserInformationCard/UserInformationCard.tsx
Labels: feat, home

#222 feat: 마이페이지 리팩토링
  src/home/apis/getUserPasswordMatch.ts
  src/home/components/ChangePasswordContents/ChangePasswordFrame/ChangePasswordFrame.style.ts
  src/home/components/ChangePasswordContents/ChangePasswordFrame/ChangePasswordFrame.tsx
  src/home/components/ChangePasswordContents/CurrentPasswordForm/CurrentPasswordForm.tsx
  src/home/components/ChangePasswordContents/CurrentPasswordForm/useCurrentPasswordForm.ts
  src/home/components/Dialog/LogoutModal.tsx
  src/home/components/MyMenuList/MyMenuList.tsx
  src/hooks/usePrivateRoute.tsx
  src/router.tsx
Labels: home, refactor

#247 feat: html meta 데이터 수정
  index.html
  public/favicon/android-icon-144x144.png
  public/favicon/android-icon-192x192.png
  public/favicon/android-icon-36x36.png
  public/favicon/android-icon-48x48.png
  public/favicon/android-icon-72x72.png
  public/favicon/android-icon-96x96.png
  public/favicon/apple-icon-114x114.png
  public/favicon/apple-icon-120x120.png
  public/favicon/apple-icon-144x144.png
  public/favicon/apple-icon-152x152.png
  public/favicon/apple-icon-180x180.png
  public/favicon/apple-icon-57x57.png
  public/favicon/apple-icon-60x60.png
  public/favicon/apple-icon-72x72.png
  public/favicon/apple-icon-76x76.png
  public/favicon/apple-icon-precomposed.png
  public/favicon/apple-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/manifest.json
  public/favicon/ms-icon-144x144.png
  public/favicon/ms-icon-150x150.png
  public/favicon/ms-icon-310x310.png
  public/favicon/ms-icon-70x70.png
  public/image/soomsil_logo.png
Labels: feat

#249 chore: update YDS version(v1.1.3), YLS version(v1.1.2)
  package.json
  pnpm-lock.yaml
Labels: chore

#240 feat: search YLS 연결
  pnpm-lock.yaml
  src/search/components/ResultList/ResultList.tsx
  src/search/components/ResultList/ResultListItem.style.ts
  src/search/components/ResultList/ResultListItem.tsx
Labels: feat, search

#246 feat: 회원가입 페이지에 학교 메일 찾기 링크 걸기
  src/constants/email.constant.ts
  src/home/components/ResetPasswordContents/EmailInput/EmailInput.tsx
  src/home/components/ResetPasswordContents/EmailInput/useEmailInputForm.ts
  src/home/components/SignupContents/EmailForm/EmailForm.style.ts
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/pages/Login/Login.tsx
  src/home/pages/Signup/Signup.tsx
Labels: feat, home
