Repository yourssu/Soomsil-Web, pull requests merged in 2024-05, with the labels that each got.

#150 feat: Home 화면의 검색창 및 헤더 구현
  src/home/apis/getUserData.ts
  src/home/components/DrawerRanking/DrawerRanking.style.ts
  src/home/components/Header/Header.style.ts
  src/home/components/Header/Header.tsx
  src/home/components/HomeLayout/HomeLayout.style.ts
  src/home/components/HomeLayout/HomeLayout.tsx
  src/home/components/Nav/Nav.style.ts
  src/home/components/Nav/Nav.tsx
  src/home/components/Notification/Notification.style.ts
  src/home/components/SearchKeyword/SearchKeyword.style.ts
  src/home/components/SignupFrame/SignupFrame.style.ts
  src/home/hooks/useGetUserData.ts
  src/home/pages/Home/Home.style.ts
  src/home/pages/Home/Home.tsx
  src/home/pages/Login/Login.style.ts
  src/home/pages/Login/Login.tsx
  src/home/recoil/UserState.ts
  src/home/recoil/persistAtom.ts
  src/home/types/user.type.ts
  src/hooks/useIsLoggedIn.tsx
  src/router.tsx
  src/service/TokenService.ts
Labels: feat, home

#157 refactor: 서랍장 상세페이지 providerId -> providerName 교체 작업
  src/drawer/components/MoreProductSection/MoreProductSection.tsx
  src/drawer/types/product.type.ts
Labels: drawer, refactor

#153 refactor: 서랍장 UI 버그 수정, 코드 리팩토링
  src/components/Bar/Bar.style.ts
  src/components/Dropdown/Dropdown.style.ts
  src/constants/zIndex.constant.ts
  src/drawer/components/Category/Category.style.ts
  src/drawer/components/Category/CategoryDropdownMenu/CategoryDropdownMenu.tsx
  src/drawer/components/Category/RankingCategory.tsx
  src/drawer/components/Dialog/ServiceRemoveModal.style.ts
  src/drawer/components/EmptyScreen/EmptyScreen.tsx
  src/drawer/components/Header/Header.style.ts
  src/drawer/components/OverviewImage/OverviewFileUpload/OverviewFileUpload.style.ts
  src/drawer/pages/MyDrawer/MyDrawer.tsx
  src/drawer/pages/Provider/Provider.tsx
  src/drawer/pages/ServiceDetail/ServiceDetail.style.ts
  src/drawer/types/ProductList.type.ts
  src/search/components/SearchBar/SearchBar.style.ts
Labels: fix, drawer, refactor

#166 Fix: ServiceDetail, Fallback 컴포넌트에서 발생하는 타입 에러 수정
  src/components/Fallback/Fallback.tsx
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
Labels: bug, fix

#158 feat: 회원가입 / 이메일 인증 api 연동
  src/constants/storage.constant.ts
  src/home/apis/authVerification.ts
  src/home/apis/postAuthSignUp.ts
  src/home/components/SignupContents/EmailAuth/EmailAuth.style.ts
  src/home/components/SignupContents/EmailAuth/EmailAuth.tsx
  src/home/components/SignupContents/EmailAuth/EmailAuth.type.ts
  src/home/components/SignupContents/EmailAuth/useEmailAuth.ts
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/components/SignupContents/EmailForm/EmailForm.type.ts
  src/home/components/SignupContents/EmailForm/useEmailForm.ts
  src/home/components/SignupContents/SignupForm/SignUpForm.type.ts
  src/home/components/SignupContents/SignupForm/SignupForm.tsx
  src/home/components/SignupContents/SignupForm/useSignUpForm.ts
  src/home/components/SignupFrame/SignupFrame.tsx
  src/home/pages/Signup/Signup.tsx
  src/home/types/Auth.type.ts
Labels: feat, home

#155 feat: 계정탈퇴(Withdraw) 페이지 퍼블리싱
  src/home/pages/Withdraw/Withdraw.style.ts
  src/home/pages/Withdraw/Withdraw.tsx
  src/router.tsx
Labels: feat, home

#170 rename: apply apis conventions in drawer apis
  src/drawer/apis/postImages.ts
  src/drawer/apis/postProduct.ts
  src/drawer/hooks/usePostProduct.ts
  src/drawer/pages/Register/Register.tsx
  src/router.tsx
Labels: drawer, refactor

#169 feat: Token management with axios interceptors
  src/apis/index.ts
  src/home/apis/getUserData.ts
  src/home/apis/postRefreshToken.ts
  src/home/components/Nav/Nav.tsx
  src/home/pages/Home/Home.tsx
  src/home/pages/Login/Login.tsx
  src/home/recoil/LogInState.ts
  src/hooks/useIsLoggedIn.tsx
  src/service/TokenService.ts
Labels: feat

#164 feat: 로그인 페이지 코드 리팩토링
  src/constants/email.constant.ts
  src/home/components/LoginInput/LoginInput.style.ts
  src/home/components/LoginInput/LoginInput.tsx
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/components/SignupContents/EmailForm/useEmailForm.ts
  src/home/components/SignupFrame/SignupFrame.style.ts
  src/home/pages/Login/Login.style.ts
  src/home/pages/Login/Login.tsx
  src/hooks/useFullEmail.ts
  src/hooks/useRedirectLoggedInEffect.ts
Labels: feat, home

#160 feat: 마이페이지 요소 링크 / 비밀번호 변경 퍼블리싱 및 api 연결
  src/home/apis/getUserPasswordMatch.ts
  src/home/components/ChangePasswordContents/ChangePasswordFrame/ChangePasswordFrame.style.ts
  src/home/components/ChangePasswordContents/ChangePasswordFrame/ChangePasswordFrame.tsx
  src/home/components/ChangePasswordContents/CurrentPasswordForm/CurrentPasswordForm.style.ts
  src/home/components/ChangePasswordContents/CurrentPasswordForm/CurrentPasswordForm.tsx
  src/home/components/ChangePasswordContents/CurrentPasswordForm/useCurrentPasswordForm.ts
  src/home/components/ChangePasswordContents/NewPasswordForm/NewPasswordForm.style.ts
  src/home/components/ChangePasswordContents/NewPasswordForm/NewPasswordForm.tsx
  src/home/components/ChangePasswordContents/NewPasswordForm/useNewPasswordForm.ts
  src/home/components/ChangePasswordContents/PasswordInput/PasswordInput.style.ts
  src/home/components/ChangePasswordContents/PasswordInput/PasswordInput.tsx
  src/home/components/Dialog/LogoutModal.tsx
  src/home/components/MyMenuList/MyMenuList.tsx
  src/home/components/Nav/Nav.tsx
  src/home/pages/ChangePassword/ChangePassword.tsx
  src/home/pages/Mypage/MyPage.style.ts
  src/home/pages/Mypage/Mypage.tsx
  src/home/types/GetPassword.type.ts
  src/router.tsx
Labels: feat, home

#176 chore: YDS version update
  package.json
  pnpm-lock.yaml
Labels: chore

#151 refactor: 서랍장 메인 화면 배너 이미지 교체
  src/assets/soomsil.svg
  src/assets/soomsil_logo.svg
  src/drawer/assets/drawer_main_image1.png
  src/drawer/assets/drawer_main_image2.png
  src/drawer/components/Header/Header.tsx
  src/drawer/components/Header/MobileRegisterHeader.tsx
  src/drawer/pages/Ranking/Ranking.style.ts
  src/drawer/pages/Ranking/Ranking.tsx
  src/home/components/SignupFrame/SignupFrame.tsx
  src/home/pages/Mypage/Mypage.tsx
  src/search/components/SearchBar/SearchBar.tsx
Labels: drawer, refactor

#177 refactor: remove unused custom event
  src/service/TokenService.ts
Labels: refactor

#179 fix: 로고 파일 이름 변경 사항이 반영되지 않았던 컴포넌트 수정
  src/home/components/ChangePasswordContents/ChangePasswordFrame/ChangePasswordFrame.tsx
  src/home/components/Header/Header.tsx
  src/home/pages/Withdraw/Withdraw.tsx
Labels: fix, drawer

#188 chore: install YDS v1.1.1
  package.json
  pnpm-lock.yaml
Labels: chore

#187 refactor: ProviderProductResponses 구조 변경 및 관련 코드 리팩토링
  src/drawer/apis/getProductByProvider.ts
  src/drawer/components/MoreProductSection/MoreProductSection.tsx
  src/drawer/hooks/useGetProductByProvider.ts
  src/drawer/pages/Provider/Provider.tsx
  src/drawer/types/product.type.ts
Labels: drawer, refactor

#173 feat: 계정탈퇴 페이지 API 연결
  src/home/apis/postWithdraw.ts
  src/home/components/WithdrawSuccess/WithdrawSuccess.style.ts
  src/home/components/WithdrawSuccess/WithdrawSuccess.tsx
  src/home/pages/Withdraw/Withdraw.tsx
  src/home/types/Auth.type.ts
Labels: feat, home

#178 feat: 서랍장 상세 페이지 완성
  src/drawer/assets/ic_right_arrow.svg
  src/drawer/components/MoreProductSection/MoreProductSection.style.ts
  src/drawer/components/MoreProductSection/MoreProductSection.tsx
  src/drawer/components/ServiceDetailContents/Carousel/Carousel.style.ts
  src/drawer/components/ServiceDetailContents/Carousel/Carousel.tsx
  src/drawer/components/ServiceDetailContents/Description/Description.style.ts
  src/drawer/components/ServiceDetailContents/Description/Description.tsx
  src/drawer/components/ServiceDetailContents/MoreProductSection/MoreProductSection.style.ts
  src/drawer/components/ServiceDetailContents/MoreProductSection/MoreProductSection.tsx
  src/drawer/components/ServiceDetailContents/ServiceAction/ServiceAction.style.ts
  src/drawer/components/ServiceDetailContents/ServiceAction/ServiceAction.tsx
  src/drawer/constants/category.constant.ts
  src/drawer/hooks/useGetProductDetail.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
Labels: feat, drawer

#162 refactor: search 페이지 코드 개선
  src/search/apis/getSearch.ts
  src/search/assets/ppussungError.svg
  src/search/components/FallbackComponent/ErrorFallback.style.ts
  src/search/components/FallbackComponent/ErrorFallback.tsx
  src/search/components/FallbackComponent/FallbackComponent.tsx
  src/search/components/FallbackComponent/NoResultFallback.tsx
  src/search/components/ResultList/ResultList.tsx
  src/search/components/ResultList/ResultListItem.style.ts
  src/search/components/ResultList/ResultListItem.tsx
  src/search/components/ResultListItem/ResultListItems.tsx
  src/search/components/TotalCount/TotalCount.tsx
  src/search/constant/customError.ts
  src/search/constant/index.ts
  src/search/hooks/useGetSearch.ts
  src/search/hooks/useScrollObserve.ts
  src/search/pages/NoResult/NoResult.tsx
  src/search/pages/Search/Search.tsx
Labels: search, refactor

#182 refactor: 로그인 / 회원가입 페이지의 TextField를 YDS 컴포넌트로 교체
  pnpm-lock.yaml
  src/home/components/ChangePasswordContents/CurrentPasswordForm/CurrentPasswordForm.tsx
  src/home/components/ChangePasswordContents/NewPasswordForm/NewPasswordForm.tsx
  src/home/components/ChangePasswordContents/PasswordInput/PasswordInput.style.ts
  src/home/components/ChangePasswordContents/PasswordInput/PasswordInput.tsx
  src/home/components/LoginInput/LoginInput.style.ts
  src/home/components/LoginInput/LoginInput.tsx
  src/home/components/SignupContents/EmailAuth/EmailAuth.tsx
  src/home/components/SignupContents/EmailForm/EmailForm.tsx
  src/home/components/SignupContents/SignupForm/SignupForm.tsx
  src/home/components/SignupContents/SignupForm/SignupInput/SignupInput.style.ts
  src/home/components/SignupContents/SignupForm/SignupInput/SignupInput.tsx
  src/home/pages/Login/Login.tsx
  src/hooks/useSignupFormValidator.ts
Labels: home, refactor

#195 chore: update yds version (v1.1.2)
  package.json
  pnpm-lock.yaml
Labels: chore

#192 feat: 개발자 서비스 더보기 페이지 무한 스크롤 구현
  src/drawer/components/ServiceDetailContents/MoreProductSection/MoreProductSection.tsx
  src/drawer/hooks/useGetProductByProvider.ts
  src/drawer/pages/Provider/Provider.tsx
  src/hooks/useScrollObserve.ts
  src/search/components/ResultList/ResultList.tsx
Labels: feat, drawer

#185 feat: 내 서랍장, 랭킹 페이지 무한 스크롤 구현
  src/drawer/apis/getBookMarked.ts
  src/drawer/apis/getMyProduct.ts
  src/drawer/apis/getNewRelease.ts
  src/drawer/apis/getRanking.ts
  src/drawer/constants/page.constant.ts
  src/drawer/hooks/useGetBookMarked.ts
  src/drawer/hooks/useGetMyRegistered.ts
  src/drawer/hooks/useGetNewRelease.ts
  src/drawer/hooks/useGetProductByProvider.ts
  src/drawer/hooks/useGetStarRank.ts
  src/drawer/pages/MyDrawer/MyDrawer.tsx
  src/drawer/pages/NewRelease/NewRelease.tsx
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/StarRanking/StarRanking.tsx
  src/drawer/types/ProductRequestParams.type.ts
Labels: feat, drawer

#189 refactor: 검색 키워드 컴포넌트 통합
  src/components/RealTimeKeyword/RealTimeKeyword.constant.ts
  src/components/RealTimeKeyword/RealTimeKeyword.style.ts
  src/components/RealTimeKeyword/RealTimeKeyword.tsx
  src/home/components/SearchKeyword/SearchKeyword.style.ts
  src/home/components/SearchKeyword/SearchKeyword.tsx
  src/home/pages/Home/Home.tsx
  src/search/components/RealTimeKeyword/RealTimeKeyword.style.ts
  src/search/components/RealTimeKeyword/RealTimeKeyword.tsx
  src/search/pages/Search/Search.tsx
Labels: search, home, refactor
