Repository yourssu/Soomsil-Web, pull requests merged in 2024-02, with the labels that each got.

#9 feat: 서랍장 레이아웃 컴포넌트 구현
  src/drawer/components/Layout/Layout.style.ts
  src/drawer/components/Layout/Layout.tsx
  src/index.css
  src/router.tsx
Labels: feat, drawer

#13 feat: 서랍장 Button, Footer 구현 (#5)
  src/drawer/components/Button/Button.style.ts
  src/drawer/components/Button/Button.tsx
  src/drawer/components/Footer/Footer.style.ts
  src/drawer/components/Footer/Footer.tsx
  src/drawer/components/Layout/Layout.tsx
Labels: feat, drawer

#16 feat: 카테고리 유형 컴포넌트 제작 (#11)
  src/drawer/components/Category/Category.style.ts
  src/drawer/components/Category/Category.tsx
Labels: feat, drawer

#17 feat: 서랍장 헤더 구현
  src/assets/ic_personcircle.svg
  src/assets/ic_search.svg
  src/assets/soomsil.svg
  src/drawer/Drawer.tsx
  src/drawer/components/Footer/Footer.style.ts
  src/drawer/components/Footer/Footer.tsx
  src/drawer/components/Header/Header.style.ts
  src/drawer/components/Header/Header.tsx
  src/drawer/components/Layout/Layout.tsx
  src/drawer/pages/MyDrawer.tsx
  src/drawer/pages/Ranking.tsx
  src/drawer/pages/Register.tsx
  src/router.tsx
Labels: feat, drawer

#25 feat: Home화면 서랍장 랭킹 컴포넌트 구현 (#3)
  src/home/components/DrawerRanking/DrawerRanking.style.ts
  src/home/components/DrawerRanking/DrawerRanking.tsx
  src/home/components/RankDrawerCard/RankDrawerCard.tsx
  src/home/components/RankDrawerCard/RankDrawerCard.type.ts
  src/home/pages/Home.tsx
  src/router.tsx
Labels: feat, home

#23 feat: 홈화면 네비바 작업
  src/assets/home/profile.svg
  src/components/Dropdown/Dropdown.style.ts
  src/components/Dropdown/Dropdown.tsx
  src/home/components/HomeLayout/HomeLayout.style.ts
  src/home/components/HomeLayout/HomeLayout.tsx
  src/home/components/Nav/Nav.style.ts
  src/home/components/Nav/Nav.tsx
  src/home/components/Spacing/Spacing.style.ts
  src/home/components/Spacing/Spacing.tsx
  src/home/components/login/Login.tsx
  src/home/pages/Home.tsx
  src/router.tsx
Labels: feat, home

#26 feat: 서랍장 메인 화면 구현
  src/components/Test/Test.stories.tsx
  src/components/Test/Test.style.ts
  src/components/Test/Test.tsx
  src/drawer/assets/drawer_main_image1.png
  src/drawer/assets/drawer_main_image2.png
  src/drawer/components/Button/Button.style.ts
  src/drawer/components/Category/Category.style.ts
  src/drawer/components/Footer/Footer.style.ts
  src/drawer/components/GrayButton/GrayButton.style.ts
  src/drawer/components/GrayButton/GrayButton.tsx
  src/drawer/components/Header/Header.style.ts
  src/drawer/pages/MyDrawer.tsx
  src/drawer/pages/Ranking.tsx
  src/drawer/pages/Ranking/Ranking.style.ts
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/Register.tsx
  src/router.tsx
Labels: feat, drawer

#30 [FEAT] normalize css추가 및 드롭다운 컴포넌트 리펙토링
  src/components/Dropdown/Dropdown.style.ts
  src/components/Dropdown/Dropdown.tsx
  src/home/components/Nav/Nav.tsx
  src/home/pages/Home.tsx
  src/index.css
  src/main.tsx
  src/router.tsx
Labels: feat, refactor

#32 feat: 서랍장 상세 페이지 상단 화면 구현
  src/assets/ic_personcircle.svg
  src/assets/ic_search.svg
  src/assets/service_detail_background.png
  src/components/FlexContainer/FlexContainer.tsx
  src/drawer/components/Header/Header.style.ts
  src/drawer/components/Header/Header.tsx
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/ServiceDetail/ServiceDetail.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
  src/router.tsx
Labels: feat, drawer

#36 feat: Home 화면 검색 키워드 컴포넌트 구현
  src/assets/realTimeKeyword.png
  src/assets/search/realTimeKeyword.png
  src/home/components/SearchKeyword/SearchKeyword.style.ts
  src/home/components/SearchKeyword/SearchKeyword.tsx
  src/search/component/RealTimeKeyword/RealTimeKeyword.tsx
Labels: feat, home

#33 feat: search 검색바 및 검색 결과 리스트 아이템 컴포넌트 제작
  src/components/Spacing/Spacing.style.tsx
  src/components/Spacing/Spacing.tsx
  src/search/assets/x_button.svg
  src/search/components/ResultListItem/ResultListItem.style.ts
  src/search/components/ResultListItem/ResultListItem.tsx
  src/search/components/SearchBar/SearchBar.style.ts
  src/search/components/SearchBar/SearchBar.tsx
  src/search/components/SearchBar/SearchBox.style.ts
  src/search/components/SearchBar/SearchBox.tsx
  src/search/components/SearchBar/SearchBoxSvg.tsx
  src/search/constant/index.ts
  src/search/hooks/useForm.ts
  src/search/types/ResultListItem.type.ts
  src/search/types/SearchBoxSvg.type.ts
  src/search/types/searchBox.type.ts
  src/types/Common.type.ts
Labels: feat, search

#38 feat: 서랍장 상세 페이지 하단 화면 구현
  src/drawer/assets/carousel_left_button.svg
  src/drawer/assets/carousel_right_button.svg
  src/drawer/components/Header/Header.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
Labels: feat, drawer

#51 style: 서랍장 상세 화면 디자인 수정
  src/drawer/pages/ServiceDetail/ServiceDetail.style.ts
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
Labels: drawer, design

#34 feat: 카드 레이아웃 작업 및 Setting 드롭다운 작업
  src/drawer/assets/noResultDrawer.png
  src/drawer/components/CardLayout/CardLayout.style.ts
  src/drawer/components/CardLayout/CardLayout.tsx
  src/drawer/components/DrawerCard/UserDrawerCard.tsx
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.style.ts
  src/drawer/components/DrawerCard/UserDrawerCard/UserDrawerCard.tsx
  src/drawer/components/EmptyScreen/EmptyScreen.style.ts
  src/drawer/components/EmptyScreen/EmptyScreen.tsx
  src/drawer/pages/MyDrawer.tsx
Labels: feat, drawer

#44 feat: Home 화면 SNS 컴포넌트 및 홈화면 구성 일부 구현
  src/assets/home/blog.svg
  src/assets/home/brunch.svg
  src/assets/home/instagram.svg
  src/assets/home/ppussung.svg
  src/home/components/DrawerRanking/DrawerRanking.tsx
  src/home/components/RankDrawerCard/RankDrawerCard.tsx
  src/home/components/SearchKeyword/SearchKeyword.tsx
  src/home/components/SocialNetworkService/SocialNetworkService.style.ts
  src/home/components/SocialNetworkService/SocialNetworkService.tsx
  src/home/pages/Home.style.ts
  src/home/pages/Home.tsx
Labels: feat, home

#57 fix: Dropdown style.ts dom warning
  src/components/Dropdown/Dropdown.style.ts
  src/components/Dropdown/Dropdown.tsx
Labels: fix

#55 feat: 내 서랍장 페이지 퍼블리싱
  src/drawer/components/Button/Button.style.ts
  src/drawer/components/Button/Button.tsx
  src/drawer/components/CardLayout/CardLayout.tsx
  src/drawer/constants/empty.constant.ts
  src/drawer/constants/mydrawer.constant.ts
  src/drawer/pages/MyDrawer.tsx
  src/drawer/pages/MyDrawer/MyDrawer.style.ts
  src/drawer/pages/MyDrawer/MyDrawer.tsx
  src/router.tsx
Labels: feat, drawer

#59 fix: style.ts dom warning, folder 중복, path error 해결 (Search)
  src/search/components/RealTimeKeyword/RealTimeKeyword.style.ts
  src/search/components/RealTimeKeyword/RealTimeKeyword.tsx
  src/search/components/ResultListItem/ResultListItem.style.ts
  src/search/components/ResultListItem/ResultListItem.tsx
  src/search/components/SearchBar/SearchBox.style.ts
  src/search/components/SearchBar/SearchBox.tsx
  src/search/components/SearchBar/SearchBoxSvg.tsx
  src/search/constant/index.ts
  src/search/pages/NoResult/NoResult.style.ts
  src/search/pages/NoResult/NoResult.tsx
  src/search/types/SearchBox.type.ts
  src/search/types/SearchBoxSvg.type.ts
  src/search/types/searchBox.type.ts
Labels: fix, search

#54 feat: 서랍장 서비스 등록 페이지 Input 컴포넌트 구현
  src/drawer/components/Input/Input.style.ts
  src/drawer/components/Input/Input.tsx
  src/drawer/components/Layout/Layout.style.ts
  src/drawer/pages/Register.tsx
  src/drawer/pages/Register/Register.style.ts
  src/drawer/pages/Register/Register.tsx
  src/router.tsx
Labels: feat, drawer

#52 feat: Home 화면 공지 컴포넌트 구현
  src/home/components/Notification/Notification.style.ts
  src/home/components/Notification/Notification.tsx
  src/home/pages/Home.style.ts
  src/home/pages/Home.tsx
  src/hooks/useInterval.ts
Labels: feat, home

#63 feat: 서랍장 서비스 등록 페이지 카테고리 체크박스 컴포넌트 구현 + 경고문
  src/drawer/components/Category/Category.style.ts
  src/drawer/components/Category/Category.tsx
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.style.ts
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.tsx
  src/drawer/components/WarningBox/WarningAccordion/WarningAccordion.style.ts
  src/drawer/components/WarningBox/WarningAccordion/WarningAccordion.tsx
  src/drawer/components/WarningBox/WarningBox.style.ts
  src/drawer/components/WarningBox/WarningBox.tsx
  src/drawer/constants/mobileview.constant.ts
  src/drawer/pages/Ranking/Ranking.tsx
  src/drawer/pages/Register/Register.tsx
Labels: feat, fix, drawer

#72 feat: change mobile breakpoint
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.style.ts
  src/drawer/components/Input/Input.style.ts
  src/drawer/components/TextArea/TextArea.style.ts
  src/drawer/constants/mobileview.constant.ts
Labels: feat, drawer

#61 feat: 로그인 퍼블리싱
  src/home/components/HomeLayout/HomeLayout.tsx
  src/home/components/login/Login.style.ts
  src/home/components/login/Login.tsx
  src/home/pages/Home.tsx
  src/index.css
  src/service/TokenService.ts
Labels: feat, home

#75 feat: 서랍장 서비스 등록 페이지 반응형 헤더 구현
  src/drawer/components/Header/Header.style.ts
  src/drawer/components/Header/Header.tsx
  src/drawer/components/Header/MobileRegisterHeader.style.ts
  src/drawer/components/Header/MobileRegisterHeader.tsx
  src/drawer/components/Layout/Layout.style.ts
  src/drawer/components/Layout/Layout.tsx
  src/drawer/pages/ServiceDetail/ServiceDetail.tsx
  src/hooks/useMediaQuery.ts
Labels: feat, drawer

#74 feat: 링크 유효성 검증 및 등록 페이지 레이아웃 작업
  src/drawer/components/Input/Input.style.ts
  src/drawer/components/Input/Input.tsx
  src/drawer/components/TextArea/TextArea.style.ts
  src/drawer/components/TextArea/TextArea.tsx
  src/drawer/components/WarningBox/WarningAccordion/WarningAccordion.style.ts
  src/drawer/components/WarningBox/WarningAccordion/WarningAccordion.tsx
  src/drawer/components/WarningBox/WarningBox.style.ts
  src/drawer/constants/link.constant.ts
  src/drawer/pages/Register/Register.style.ts
  src/drawer/pages/Register/Register.tsx
Labels: feat, drawer

#71 feat: 서치 무한 스크롤 기능 구현
  src/router.tsx
  src/search/Search.tsx
  src/search/apis/getSearch.ts
  src/search/apis/searchClient.ts
  src/search/components/ResultListItem/ResultListItem.style.ts
  src/search/components/ResultListItem/ResultListItem.tsx
  src/search/components/SearchBar/SearchBox.style.ts
  src/search/components/SearchBar/SearchBox.tsx
  src/search/components/SearchBar/SearchBoxSvg.tsx
  src/search/constant/index.ts
  src/search/hooks/useGetSearch.ts
  src/search/pages/Search/Search.tsx
  src/search/types/GetSearch.type.ts
  src/search/types/ResultListItem.type.ts
  src/search/types/SearchBoxSvg.type.ts
Labels: feat, search

#83 feat: 카테고리 및 경고문 validation isWarned 추가
  src/drawer/components/Category/Category.tsx
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.style.ts
  src/drawer/components/CategoryWithoutAll/CategoryWithoutAll.tsx
  src/drawer/components/WarningBox/WarningAccordion/WarningAccordion.style.ts
  src/drawer/components/WarningBox/WarningAccordion/WarningAccordion.tsx
  src/drawer/components/WarningBox/WarningBox.style.ts
  src/drawer/components/WarningBox/WarningBox.tsx
Labels: feat, drawer
