Repository yourssu/Soomsil-Web, pull requests merged in 2024-08, with the labels that each got.

#284 fix: 검색 결과 1개에서 썸네일이 없는 경우 글만 나타나게 수정
  src/search/components/ResultList/ResultListItem.style.ts
  src/search/components/ResultList/ResultListItem.tsx
  src/search/constant/index.ts
Labels: bug, fix, search

#289 fix: 검색 결과가 없는 경우 요청 및 편집 섹션을 클릭하면 해당 링크로 이동하도록 수정
  src/search/pages/NoResult/NoResult.style.ts
  src/search/pages/NoResult/NoResult.tsx
Labels: fix, search

#292 fix: favicon path에 / 추가
  index.html
  public/favicon/manifest.json
Labels: fix, home

#291 fix: sns 버튼이 새탭으로 열리지 않는 문제 수정
  src/home/components/SocialNetworkService/SocialNetworkService.tsx
Labels: fix, home

#285 fix: 상세페이지 이미지 버튼이 안 보이는 문제
  src/drawer/components/ServiceDetailContents/Carousel/Carousel.style.ts
  src/drawer/components/ServiceDetailContents/Carousel/Carousel.tsx
  src/drawer/components/ServiceDetailContents/Description/Description.tsx
  src/drawer/components/ServiceDetailContents/MoreProductSection/MoreProductSection.style.ts
  src/drawer/components/ServiceDetailContents/MoreProductSection/MoreProductSection.tsx
  src/drawer/components/ServiceDetailContents/ServiceAction/ServiceAction.tsx
Labels: bug, fix, drawer

#288 fix: 서랍장 검색 결과가 없을 때 서비스 등록하기를 클릭해도 페이지가 안넘어가짐
  src/drawer/components/EmptyScreen/EmptyScreen.tsx
Labels: bug, fix, drawer

#287 refactor: 숨쉬듯이 검색한 키워드 코드 리팩토링
  src/components/RealTimeKeyword/RealTimeKeyword.tsx
  src/search/apis/getRealTimeKeyword.ts
  src/search/hooks/useGetRealTimeKeyword.ts
Labels: search, refactor

#290 fix: 검색어가 너무 길면 줄바꿈 안 되는 문제
  src/search/pages/NoResult/NoResult.style.ts
  src/search/pages/NoResult/NoResult.tsx
Labels: fix, search
